# Build outputs
target/
debug/

# Vector database & Lance stores
.alpax_vector_db/
*.lance/

# Model binaries & weights
models/*.onnx
models/*.bin

# Environment & local configuration
.env
alpax.toml

# Backups & Editor files
**/*.rs.bk
*.pdb
.idea/
.vscode/
